@media (min-width: 1200px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
      max-width: 1140px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  @media (max-width: 1200px) {
    .poochCarousel .carousel-caption h1 {
      font-size: 52px;
      line-height: 62px;
    }
    .poochCarousel .poochCarousel__caption1, 
  .poochCarousel .poochCarousel__caption3 {
      position: absolute;
      left: 3%;
      top: 18%;
      width: 60%;
  }
  
  .poochCarousel .poochCarousel__caption2, 
  .poochCarousel .poochCarousel__caption4 {
      position: absolute;
      left: 40%;
      top: 18%;
      width: 60%;
  }
  }
  @media (max-width: 991px) {
    .header__pooch .navbar-toggler {
      padding: 0;
    }
    .header__pooch .navbar-toggler-icon {
      line-height: 1.2em;
      color: #fff;
      line-height: 34px;
      background-color: #189a46;
      border-radius: 5px;
    }
    .poochCarousel .carousel-caption h1 {
      font-size: 50px;
      line-height: 55px;
    }
    .whyChooseUs .col__right {
      padding-top: 3rem;
    }
    .header__pooch .nav-item {
      text-align: center;
    }
    #poochNavbar .nav-link:hover::after {
      width: 0 ;
  }
    .whoWeAre .whoWeAre__right {
      margin-top: 50px;
    }
    .d-grid {
      display:grid;
    }
    .contact-grid {
      grid-template-columns: 1fr;
      grid-gap: 20px !important
    }
    .poochCarousel .poochCarousel__caption1, 
  .poochCarousel .poochCarousel__caption3,
  .poochCarousel .poochCarousel__caption2, 
  .poochCarousel .poochCarousel__caption4 {
      position: absolute;
      left: 13%;
      top: 30%;
      width: 100% !important
  }
  .testimonial-item {
    margin-bottom: 30px;
  }
  .updated .subscribe-wthree-field {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .updated__content input {
    flex-basis: 100%;
  }

  }
  
  @media (min-width: 992px) & (max-width: 1199px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg {
      max-width: 960px;
      margin-right: auto;
      margin-left: auto;
    }
    .container {
      max-width: 960px;
    }
    .pb-lg-5,
    .py-lg-5 {
      padding-bottom: 3rem !important;
    }
    .pt-lg-5,
    .py-lg-5 {
      padding-top: 3rem !important;
    }
    .pl-lg-5,
    .px-lg-5 {
      padding-left: 3rem !important;
    }
    .mb-lg-0,
    .my-lg-0 {
      margin-bottom: 0 !important;
    }
    .pl-lg-4,
    .px-lg-4 {
      padding-left: 1.5rem !important;
    }
    .pb-lg-4, .py-lg-4 {
      padding-bottom: 1.5rem !important;
  }
  .pt-lg-4, .py-lg-4 {
    padding-top: 1.5rem !important;
}
    .mt-lg-0,
    .my-lg-0 {
      margin-top: 0 !important;
    }
    .pb-lg-3,
    .py-lg-3 {
      padding-bottom: 1rem !important;
    }
    .pt-lg-3,
    .py-lg-3 {
      padding-top: 1rem !important;
    }
    .text-lg-right {
      text-align: right !important;
    }
    .pr-lg-4,
    .px-lg-4 {
      padding-right: 1.5rem !important;
    }
    .mb-lg-5,
    .my-lg-5 {
      margin-bottom: 3rem !important;
    }
    .pb-lg-0, .py-lg-0 {
      padding-bottom: 0 !important;
  }
  .d-md-flex {
    display: flex !important;
}
  }
  
  @media (min-width: 768px) & (max-width: 991px) {
    .container,
    .container-sm,
    .container-md {
      max-width: 720px;
    }
    .container {
      max-width: 720px;
    }
    .pb-md-5,
    .py-md-5 {
      padding-bottom: 3rem !important;
    }
    .pb-md-4,
    .py-md-4 {
      padding-bottom: 1.5rem !important;
    }
    .pt-md-5,
    .py-md-5 {
      padding-top: 3rem !important;
    }
    .pt-md-4,
    .py-md-4 {
      padding-top: 1.5rem !important;
    }
    .mt-md-5,
    .my-md-5 {
      margin-top: 3rem !important;
    }
    .col-md-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
    .col-md-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }
    .mt-md-4,
    .my-md-4 {
      margin-top: 1.5rem !important;
    }
    .pb-md-3, .py-md-3 {
      padding-bottom: 1rem !important;
  }
.pt-md-3, .py-md-3 {
    padding-top: 1rem !important;
}
    .poochCarousel .poochCarousel__caption1,
    .poochCarousel .poochCarousel__caption3 {
      position: absolute;
      left: 12%;
      top: 18%;
      width: 100%;
    }
  
    .poochCarousel .poochCarousel__caption2,
    .poochCarousel .poochCarousel__caption4 {
      position: absolute;
      left: 12%;
      top: 18%;
      width: 100%;
    }
    .d-md-flex {
      display: flex !important;
  }

  }
  
  @media (min-width: 576px) & (max-width: 767px) {
    .container,
    .container-sm {
      max-width: 540px;
    }
  .container {
    max-width: 540px;
  }
    .history .history__grids {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 667px) {
    .history .history__grids {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      margin-top: 40px;
    }
    .subscribe-wthree button {
      flex-basis: 100%;
      display: block;
      width: 100%;
      margin-top: 16px;
    }
  }
  @media (max-width: 767px) {
    .whoWeAre .whoWeAre__right-grids {
      text-align: center;
      padding-bottom: 20px;
    }
    .poochCarousel .poochCarousel__caption1, 
  .poochCarousel .poochCarousel__caption3 {
      position: absolute;
      left: 12%;
      top: 18%;
      width: 70% !important
  }
  
  .poochCarousel .poochCarousel__caption2, 
  .poochCarousel .poochCarousel__caption4 {
      position: absolute;
      left: 12%;
      top: 18%;
      width: 70% !important
  }

 
  }